.checkbox-gradient {
    background: linear-gradient(360deg, #0D3EBA -0.72%, #0082CE 100%);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  
  .checkbox-gradient-checked {
    background: linear-gradient(360deg, #0D3EBA -0.72%, #0082CE 100%);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  
  .checkbox-gradient-checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  