.button-paypal {
   width: 100%;
    cursor: pointer;
    display: inline-flex; 
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
    border-radius: 39px;
    position: relative; 
    overflow: hidden;
    transition: color 250ms ease; 
    text-wrap: nowrap;
    transition: all 0.3s ease; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: unset;
    border: 1px solid black;
    padding-top: 18px;
    padding-bottom: 18px;
}